<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.home.modules.other.dao.RptDashboardMapper">
  <resultMap id="BaseResultMap" type="com.smart.home.modules.other.entity.RptDashboard">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="created_time" jdbcType="DATE" property="createdTime" />
    <result column="live_count" jdbcType="INTEGER" property="liveCount" />
    <result column="article_count" jdbcType="BIGINT" property="articleCount" />
    <result column="video_count" jdbcType="BIGINT" property="videoCount" />
    <result column="post_count" jdbcType="BIGINT" property="postCount" />
    <result column="product_comment_count" jdbcType="BIGINT" property="productCommentCount" />
    <result column="article_comment_count" jdbcType="BIGINT" property="articleCommentCount" />
    <result column="video_comment_count" jdbcType="BIGINT" property="videoCommentCount" />
    <result column="post_reply_count" jdbcType="BIGINT" property="postReplyCount" />
    <result column="product_comment_reply_count" jdbcType="BIGINT" property="productCommentReplyCount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, created_time, live_count, article_count, video_count, post_count, product_comment_count, 
    article_comment_count, video_comment_count, post_reply_count, product_comment_reply_count
  </sql>
  <select id="selectByExample" parameterType="com.smart.home.modules.other.entity.RptDashboardExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rpt_dashboard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rpt_dashboard
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rpt_dashboard
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.smart.home.modules.other.entity.RptDashboardExample">
    delete from rpt_dashboard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smart.home.modules.other.entity.RptDashboard">
    insert into rpt_dashboard (id, created_time, live_count, 
      article_count, video_count, post_count, 
      product_comment_count, article_comment_count, 
      video_comment_count, post_reply_count, product_comment_reply_count
      )
    values (#{id,jdbcType=INTEGER}, #{createdTime,jdbcType=DATE}, #{liveCount,jdbcType=INTEGER}, 
      #{articleCount,jdbcType=BIGINT}, #{videoCount,jdbcType=BIGINT}, #{postCount,jdbcType=BIGINT}, 
      #{productCommentCount,jdbcType=BIGINT}, #{articleCommentCount,jdbcType=BIGINT}, 
      #{videoCommentCount,jdbcType=BIGINT}, #{postReplyCount,jdbcType=BIGINT}, #{productCommentReplyCount,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smart.home.modules.other.entity.RptDashboard">
    insert into rpt_dashboard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="liveCount != null">
        live_count,
      </if>
      <if test="articleCount != null">
        article_count,
      </if>
      <if test="videoCount != null">
        video_count,
      </if>
      <if test="postCount != null">
        post_count,
      </if>
      <if test="productCommentCount != null">
        product_comment_count,
      </if>
      <if test="articleCommentCount != null">
        article_comment_count,
      </if>
      <if test="videoCommentCount != null">
        video_comment_count,
      </if>
      <if test="postReplyCount != null">
        post_reply_count,
      </if>
      <if test="productCommentReplyCount != null">
        product_comment_reply_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=DATE},
      </if>
      <if test="liveCount != null">
        #{liveCount,jdbcType=INTEGER},
      </if>
      <if test="articleCount != null">
        #{articleCount,jdbcType=BIGINT},
      </if>
      <if test="videoCount != null">
        #{videoCount,jdbcType=BIGINT},
      </if>
      <if test="postCount != null">
        #{postCount,jdbcType=BIGINT},
      </if>
      <if test="productCommentCount != null">
        #{productCommentCount,jdbcType=BIGINT},
      </if>
      <if test="articleCommentCount != null">
        #{articleCommentCount,jdbcType=BIGINT},
      </if>
      <if test="videoCommentCount != null">
        #{videoCommentCount,jdbcType=BIGINT},
      </if>
      <if test="postReplyCount != null">
        #{postReplyCount,jdbcType=BIGINT},
      </if>
      <if test="productCommentReplyCount != null">
        #{productCommentReplyCount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smart.home.modules.other.entity.RptDashboardExample" resultType="java.lang.Long">
    select count(*) from rpt_dashboard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rpt_dashboard
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=DATE},
      </if>
      <if test="record.liveCount != null">
        live_count = #{record.liveCount,jdbcType=INTEGER},
      </if>
      <if test="record.articleCount != null">
        article_count = #{record.articleCount,jdbcType=BIGINT},
      </if>
      <if test="record.videoCount != null">
        video_count = #{record.videoCount,jdbcType=BIGINT},
      </if>
      <if test="record.postCount != null">
        post_count = #{record.postCount,jdbcType=BIGINT},
      </if>
      <if test="record.productCommentCount != null">
        product_comment_count = #{record.productCommentCount,jdbcType=BIGINT},
      </if>
      <if test="record.articleCommentCount != null">
        article_comment_count = #{record.articleCommentCount,jdbcType=BIGINT},
      </if>
      <if test="record.videoCommentCount != null">
        video_comment_count = #{record.videoCommentCount,jdbcType=BIGINT},
      </if>
      <if test="record.postReplyCount != null">
        post_reply_count = #{record.postReplyCount,jdbcType=BIGINT},
      </if>
      <if test="record.productCommentReplyCount != null">
        product_comment_reply_count = #{record.productCommentReplyCount,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rpt_dashboard
    set id = #{record.id,jdbcType=INTEGER},
      created_time = #{record.createdTime,jdbcType=DATE},
      live_count = #{record.liveCount,jdbcType=INTEGER},
      article_count = #{record.articleCount,jdbcType=BIGINT},
      video_count = #{record.videoCount,jdbcType=BIGINT},
      post_count = #{record.postCount,jdbcType=BIGINT},
      product_comment_count = #{record.productCommentCount,jdbcType=BIGINT},
      article_comment_count = #{record.articleCommentCount,jdbcType=BIGINT},
      video_comment_count = #{record.videoCommentCount,jdbcType=BIGINT},
      post_reply_count = #{record.postReplyCount,jdbcType=BIGINT},
      product_comment_reply_count = #{record.productCommentReplyCount,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smart.home.modules.other.entity.RptDashboard">
    update rpt_dashboard
    <set>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=DATE},
      </if>
      <if test="liveCount != null">
        live_count = #{liveCount,jdbcType=INTEGER},
      </if>
      <if test="articleCount != null">
        article_count = #{articleCount,jdbcType=BIGINT},
      </if>
      <if test="videoCount != null">
        video_count = #{videoCount,jdbcType=BIGINT},
      </if>
      <if test="postCount != null">
        post_count = #{postCount,jdbcType=BIGINT},
      </if>
      <if test="productCommentCount != null">
        product_comment_count = #{productCommentCount,jdbcType=BIGINT},
      </if>
      <if test="articleCommentCount != null">
        article_comment_count = #{articleCommentCount,jdbcType=BIGINT},
      </if>
      <if test="videoCommentCount != null">
        video_comment_count = #{videoCommentCount,jdbcType=BIGINT},
      </if>
      <if test="postReplyCount != null">
        post_reply_count = #{postReplyCount,jdbcType=BIGINT},
      </if>
      <if test="productCommentReplyCount != null">
        product_comment_reply_count = #{productCommentReplyCount,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smart.home.modules.other.entity.RptDashboard">
    update rpt_dashboard
    set created_time = #{createdTime,jdbcType=DATE},
      live_count = #{liveCount,jdbcType=INTEGER},
      article_count = #{articleCount,jdbcType=BIGINT},
      video_count = #{videoCount,jdbcType=BIGINT},
      post_count = #{postCount,jdbcType=BIGINT},
      product_comment_count = #{productCommentCount,jdbcType=BIGINT},
      article_comment_count = #{articleCommentCount,jdbcType=BIGINT},
      video_comment_count = #{videoCommentCount,jdbcType=BIGINT},
      post_reply_count = #{postReplyCount,jdbcType=BIGINT},
      product_comment_reply_count = #{productCommentReplyCount,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>